{% extends 'news/base.html' %}
{% load i18n %}
{% load url from future %}
{% block content_title %}{{ post.title|escape }}{% endblock %}

{% block JavaScript %}
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap/bootstrap-buttons.js"></script>
{% endblock %}

{% block document_ready_functions %}
$.ajaxSetup({
  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
{% if object %}
$("#publish").click(function(event) {
    var link = $(this);
    event.preventDefault();
    var location = link.attr("href");
    var text = link.text();
    link.button('toggle');
    $.post(location, function(data) {
      if (data.success) {
          text = data.new_label;
          link.attr("href", data.new_href);
      }
    }).complete(function(){ link.button('toggle'); link.text(text) });
});
{% endif %}
{% endblock %}

{% block navbar %}
  <li><a href="/">{% trans 'Home' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'news_index' %}">{% trans 'News' %}</a> <span class="divider">/</span></li>
  <li class="active"><a href="{% url 'news_post_detail' post.slug %}">{{ post.title }}</a></li>
{% endblock %}

{% block content %}
<div>
{% if post.author == request.user or request.user.is_superuser %}
{% if perms.news.change_post %}<a href="{% url 'news_post_edit' post.slug %}" class="btn" title="Change this post">{% trans 'Edit Post' %}</a>{% endif %}
{% if post and perms.news.publish_post %}<a id="publish"  data-loading-text="Processing..." href="{% if post.is_published %}{% url 'news_post_recall' post.slug %}{% else %}{% url 'news_post_publish' post.slug  %}{% endif %}" class="btn">{{ post.is_published|yesno:_("Recall,Publish") }}</a>{% endif %}
{% if perms.news.delete_post %}<a href="{% url 'news_post_delete' object.slug %}" class="btn danger">{% trans 'Delete' %}</a>{% endif %}
{% endif %}
</div>
<div>
	{{ post.content|escape }}
</div>
{% load tagging_tags %}
{% tags_for_object post as tags %}
{% if tags %}
<div>{% for tag in tags %}<span class="label">{{ tag }}</span> {% endfor %}</div>
{% endif %}
{% endblock %}
